

#answer {
    float:right; 
    background:rgb(111, 0, 255);
    width:25%;
    height:280px;
    text-align: center;
}
ul {
    display:inline-table;
}
li {
    display:block;
}
#leftbox {
    float:left; 
    background:Red;
    width:25%;
    height:280px;
}
#middlebox{
    float:left; 
    background:Green;
    width:50%;
    height:280px;
}
#rightbox{
    float:right;
    background:blue;
    width:25%;
    height:280px;
}
h1{
    color:green;
    text-align:center;
}
.submit_customer { 
    float:center;
}
.search_customer {
    float:left;
}
.submit_staff {
    float: center;
}
.search_staff {
    float:left;
}
 button{
    height: 25px;
    width: 117px;
} 